html {
    background-color: #032e55;
  }

  body {
    width: 400px;
    margin: 0 auto;
    background-color: #ff8800;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    
  }

  